@import "tailwindcss";

.icon-fill {
    font-variation-settings: 'FILL' 1;
}

@theme {
    --color-gray-900: #111928;
    --color-gray-800: #1F2A37;
    --color-gray-700: #374151;
    --color-gray-600: #4B5563;
    --color-gray-500: #6B7280;
    --color-gray-200: #E5E7EB;
    --color-gray-100: #F3F4F6;
    --color-gray-50: #F9FAFB;
    --color-bit-light-gray: #F1F1EF;
    --color-blue-700: #1A56DB;
    --color-bit-dark-black: #383530;
    --color-bit-dark-yellow: #CB912E;
    --color-bit-light-yellow: #FBF3DB;
    --color-bit-light-blue: #E7F3F8;
    --color-bit-neutral-blue: #8DBAD0;
    --color-bit-dark-blue: #347FA9;
    --color-bit-dark-green: #438361;
    --color-bit-light-green: #EDF3EC;
    --color-border-light: #E4E5E6;
    --color-bit-light-orange: #FBECDD;
    --color-bit-dark-orange: #D9730E;
}